#contactHeader {
	background-image: url(img/contactHeaderBG.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100vh;
}

#contactReserve1 {
	background-image: url(img/contactReserve1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 70vh;
}

#contactReserve2 {
	background-image: url(img/contactReserve2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 70vh;
}

.mainContact {
	background-color: rgba(0, 0, 0, 0.4);
}