#reservationsHeader {
	background-image: url(img/reserveHeaderBG.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
}

#reservationBG1 {
	background-image: url(img/reservationBG1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 70vh;
}

#reservationBG2 {
	background-image: url(img/reservationBG2.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 70vh;
}